.aboutus {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.information {
  background-color: rgba(85, 122, 72, 0.779);
  width: 100%;
  height: 30vh;
  position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  justify-content: left;
}
p {
  margin: 0px;
}
